<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>JungleBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="./css/app.css"/>
    <link rel="stylesheet" type="text/css" href="./css/notebook.css"/>

    <link rel="icon" href="./webcon.ico"/>
    <link rel="apple-touch-icon" href="./weblogo512.png"/>
    <link rel="manifest" href="./manifest.json"/>

    </head>
    <body>
        <div class="modal fade" id="addWordModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="addWordModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="addWordModalLabel">Create new Notebook</h5>
                </div>
                <form method="POST">
                  <div class="modal-body">
                    <div class="mb-3">
                      <label for="recipient-name" class="col-form-label">Word</label>
                      <input type="text" name="word" class="form-control" required/>
                      <label for="recipient-name" class="col-form-label">Meaning</label>
                      <input type="text" name="meaning" class="form-control"/>
                      <label for="recipient-name" class="col-form-label">Description</label>
                      <input type="text" name="description" class="form-control"/>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button id="add-word-btn" type="submit" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    
        <div class="content">
          
          <div class="doc">
            <div class="textview">
              <div id="txt-word"></div>
              <div id="txt-meaning"></div>
              <div id="txt-description"></div>
            </div>
          </div>
          <h5 class="front" id="notebookname">Notebook name:<br><%= result[0].name %></h5>
          <h5 class="front btn sform" style="right: 0;">Guide</h5>
        
        </div>
        <div class="sidebar" id="wordlist">
          <div id="home" onclick="location.href='/'">Home</div>
          <div id="addbtn" class="word" data-bs-toggle="modal" data-bs-target="#addWordModal">
            &nbsp;<button class="del-word" style="font-size: smaller;">╋</button>
          </div>
        </div>
        
    </body>

    
    <script>
      let bookname = "<%= result[0].name %>"
      let wordlist = []

      <% result[0].words.forEach((word)=>{  %>
        wordlist.push({
          id: '<%= word._id %>',
          word: '<%= word.word %>',
          meaning: '<%= word.meaning %>',
          description: '<%= word.description %>'
        })

        $('.sidebar').append(
          '<div class="word" onclick=view("<%=word._id%>")>'
          +'<span id="listitemtxt"><%= word.word %></span><button class="del-word" onclick=deleteWord("<%=word._id%>")>⨉</button>'
          +'</div>')
      <% }) %>

      
      function view(id){
        // ele.className += " active"
        let idx = wordlist.findIndex(e => e.id == id)
        $('#txt-word').text(wordlist[idx].word)
        $('#txt-meaning').text(wordlist[idx].meaning)
        $('#txt-description').text(wordlist[idx].description)
      }

      function deleteWord(id){
        location.href = `/${bookname}/delete/${id}`
      }

      if($('.word').length >= 2) $('.word:eq(1)').click()
    </script>
    <script src="./js/setbgimg.js"></script>
</html>